body {
    background-color: rgb(249, 226, 249);
}

div {
    margin: 100px auto 0 auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 200px;
    border: 4px solid black;
    height: 100px;
    width: 300px;
    background-color: rgb(85, 255, 255);
}

div:hover {
    background-image: url(gremlin.png);
    background-size: 700px;
    font-size: 0;
}